body {
    font-family: 'Segoe UI';
    background: #0f172a;
    color: #e2e8f0;
    padding: 30px;
}

h1 {
    color: #38bdf8;
}

.input-box input {
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 8px 15px;
    background: #38bdf8;
    border: none;
    color: black;
    cursor: pointer;
}

ul {
    background: #1e293b;
    padding: 10px;
    margin-top: 10px;
}
